<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include('./partials/head') %>
</head>
<body>

<%- include('./partials/navigation') %>

<!-- Main Content -->

<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/AWS-Logo.png" alt="" class="w-50">
        <h1 class="display-1 my-5 text-uppercase fw-bold">Amazon Web Services</h1>
        <a href="/about" class="btn btn btn-primary w-30">About</a>
    </div>
</header>

</body>
</html>
